/* 초기화 */
:root{
    --zds-colors-global-static-black: #000;
    --zds-colors-global-static-black-rgb: 0,0,0;
    --zds-colors-global-static-white: #fff;
    --zds-colors-global-static-white-rgb: 255,255,255;
    --zds-colors-global-static-current-color: currentColor;
    --zds-colors-global-static-transparent: transparent;
    --zds-colors-global-zigzag-black: #000;
    --zds-colors-global-zigzag-black-rgb: 0,0,0;
    --zds-colors-global-zigzag-pink-400: #fa6ee3;
    --zds-colors-global-zigzag-pink-400-rgb: 250,110,227;
    --zds-colors-global-zigzag-beige-100: #f1ecea;
    --zds-colors-global-zigzag-beige-100-rgb: 241,236,234;
    --zds-colors-global-kakao-yellow-500: #fee500;
    --zds-colors-global-kakao-yellow-500-rgb: 254,229,0;
    --zds-colors-global-zigzin-purple-500: #7463f2;
    --zds-colors-global-zigzin-purple-500-rgb: 116,99,242;
    --zds-colors-global-white: #fff;
    --zds-colors-global-white-rgb: 255,255,255;
    --zds-colors-global-black: #000;
    --zds-colors-global-black-rgb: 0,0,0;
    --zds-colors-global-gray-30: #f5f6f8;
    --zds-colors-global-gray-30-rgb: 245,246,248;
    --zds-colors-global-gray-50: #fafafb;
    --zds-colors-global-gray-50-rgb: 250,250,251;
    --zds-colors-global-gray-100: #f5f6f8;
    --zds-colors-global-gray-100-rgb: 245,246,248;
    --zds-colors-global-gray-150: #e8e9eb;
    --zds-colors-global-gray-150-rgb: 232,233,235;
    --zds-colors-global-gray-200: #d2d5d6;
    --zds-colors-global-gray-200-rgb: 210,213,214;
    --zds-colors-global-gray-300: #b8bfc2;
    --zds-colors-global-gray-300-rgb: 184,191,194;
    --zds-colors-global-gray-400: #a1a9ad;
    --zds-colors-global-gray-400-rgb: 161,169,173;
    --zds-colors-global-gray-500: #828a8f;
    --zds-colors-global-gray-500-rgb: 130,138,143;
    --zds-colors-global-gray-600: #697175;
    --zds-colors-global-gray-600-rgb: 105,113,117;
    --zds-colors-global-gray-700: #4f5558;
    --zds-colors-global-gray-700-rgb: 79,85,88;
    --zds-colors-global-gray-800: #34383b;
    --zds-colors-global-gray-800-rgb: 52,56,59;
    --zds-colors-global-gray-900: #242729;
    --zds-colors-global-gray-900-rgb: 36,39,41;
    --zds-colors-global-gray-950: #121314;
    --zds-colors-global-gray-950-rgb: 18,19,20;
    --zds-colors-global-pink-50: #fef6fd;
    --zds-colors-global-pink-50-rgb: 254,246,253;
    --zds-colors-global-pink-100: #ffebfc;
    --zds-colors-global-pink-100-rgb: 255,235,252;
    --zds-colors-global-pink-150: #ffd1f7;
    --zds-colors-global-pink-150-rgb: 255,209,247;
    --zds-colors-global-pink-200: #ffb2f3;
    --zds-colors-global-pink-200-rgb: 255,178,243;
    --zds-colors-global-pink-300: #ff8aeb;
    --zds-colors-global-pink-300-rgb: 255,138,235;
    --zds-colors-global-pink-400: #fa6ee3;
    --zds-colors-global-pink-400-rgb: 250,110,227;
    --zds-colors-global-pink-500: #e560cf;
    --zds-colors-global-pink-500-rgb: 229,96,207;
    --zds-colors-global-pink-600: #bf49ab;
    --zds-colors-global-pink-600-rgb: 191,73,171;
    --zds-colors-global-pink-700: #913382;
    --zds-colors-global-pink-700-rgb: 145,51,130;
    --zds-colors-global-pink-800: #6d2261;
    --zds-colors-global-pink-800-rgb: 109,34,97;
    --zds-colors-global-pink-900: #4f1245;
    --zds-colors-global-pink-900-rgb: 79,18,69;
    --zds-colors-global-purple-50: #f5f5ff;
    --zds-colors-global-purple-50-rgb: 245,245,255;
    --zds-colors-global-purple-100: #e8e6ff;
    --zds-colors-global-purple-100-rgb: 232,230,255;
    --zds-colors-global-purple-150: #d7d4ff;
    --zds-colors-global-purple-150-rgb: 215,212,255;
    --zds-colors-global-purple-200: #c1baff;
    --zds-colors-global-purple-200-rgb: 193,186,255;
    --zds-colors-global-purple-300: #a89fff;
    --zds-colors-global-purple-300-rgb: 168,159,255;
    --zds-colors-global-purple-400: #8f82ff;
    --zds-colors-global-purple-400-rgb: 143,130,255;
    --zds-colors-global-purple-500: #7463f2;
    --zds-colors-global-purple-500-rgb: 116,99,242;
    --zds-colors-global-purple-600: #604edf;
    --zds-colors-global-purple-600-rgb: 96,78,223;
    --zds-colors-global-purple-700: #4b3abf;
    --zds-colors-global-purple-700-rgb: 75,58,191;
    --zds-colors-global-purple-800: #392c99;
    --zds-colors-global-purple-800-rgb: 57,44,153;
    --zds-colors-global-purple-900: #29206e;
    --zds-colors-global-purple-900-rgb: 41,32,110;
    --zds-colors-global-red-100: #ffcdcc;
    --zds-colors-global-red-100-rgb: 255,205,204;
    --zds-colors-global-red-200: #ff4d4d;
    --zds-colors-global-red-200-rgb: 255,77,77;
    --zds-colors-global-red-300: #c31e18;
    --zds-colors-global-red-300-rgb: 195,30,24;
    --zds-colors-global-red-400: #9c1510;
    --zds-colors-global-red-400-rgb: 156,21,16;
    --zds-colors-global-yellow-100: #ffdcad;
    --zds-colors-global-yellow-100-rgb: 255,220,173;
    --zds-colors-global-yellow-200: #ffc274;
    --zds-colors-global-yellow-200-rgb: 255,194,116;
    --zds-colors-global-yellow-300: #ffa93b;
    --zds-colors-global-yellow-300-rgb: 255,169,59;
    --zds-colors-global-yellow-400: #f5833d;
    --zds-colors-global-yellow-400-rgb: 245,131,61;
    --zds-colors-global-green-100: #80d889;
    --zds-colors-global-green-100-rgb: 128,216,137;
    --zds-colors-global-green-200: #5ac366;
    --zds-colors-global-green-200-rgb: 90,195,102;
    --zds-colors-global-green-300: #44944e;
    --zds-colors-global-green-300-rgb: 68,148,78;
    --zds-colors-global-green-400: #36753d;
    --zds-colors-global-green-400-rgb: 54,117,61;
    --zds-colors-global-brown-100: #f2ceaa;
    --zds-colors-global-brown-100-rgb: 242,206,170;
    --zds-colors-global-brown-200: #dea66f;
    --zds-colors-global-brown-200-rgb: 222,166,111;
    --zds-colors-global-brown-300: #cc884b;
    --zds-colors-global-brown-300-rgb: 204,136,75;
    --zds-colors-global-brown-400: #8f4e18;
    --zds-colors-global-brown-400-rgb: 143,78,24;
    --zds-colors-global-lavender-100: #ebc7fc;
    --zds-colors-global-lavender-100-rgb: 235,199,252;
    --zds-colors-global-lavender-200: #e1aef9;
    --zds-colors-global-lavender-200-rgb: 225,174,249;
    --zds-colors-global-lavender-300: #cd99f9;
    --zds-colors-global-lavender-300-rgb: 205,153,249;
    --zds-colors-global-lavender-400: #b984f9;
    --zds-colors-global-lavender-400-rgb: 185,132,249;
    --zds-colors-global-sky-blue-100: #b6d6fa;
    --zds-colors-global-sky-blue-100-rgb: 182,214,250;
    --zds-colors-global-sky-blue-200: #98c7fa;
    --zds-colors-global-sky-blue-200-rgb: 152,199,250;
    --zds-colors-global-sky-blue-300: #80b7f4;
    --zds-colors-global-sky-blue-300-rgb: 128,183,244;
    --zds-colors-global-sky-blue-400: #65a7f0;
    --zds-colors-global-sky-blue-400-rgb: 101,167,240;
    --zds-colors-global-inverse-zigzag-black: #fff;
    --zds-colors-global-inverse-zigzag-black-rgb: 255,255,255;
    --zds-colors-global-inverse-zigzag-pink-400: #fa6ee3;
    --zds-colors-global-inverse-zigzag-pink-400-rgb: 250,110,227;
    --zds-colors-global-inverse-zigzag-beige-100: #222526;
    --zds-colors-global-inverse-zigzag-beige-100-rgb: 34,37,38;
    --zds-colors-global-inverse-kakao-yellow-500: #fee500;
    --zds-colors-global-inverse-kakao-yellow-500-rgb: 254,229,0;
    --zds-colors-global-inverse-zigzin-purple-500: #7463f2;
    --zds-colors-global-inverse-zigzin-purple-500-rgb: 116,99,242;
    --zds-colors-global-inverse-white: #000;
    --zds-colors-global-inverse-white-rgb: 0,0,0;
    --zds-colors-global-inverse-black: #fff;
    --zds-colors-global-inverse-black-rgb: 255,255,255;
    --zds-colors-global-inverse-gray-30: #1a1a1a;
    --zds-colors-global-inverse-gray-30-rgb: 26,26,26;
    --zds-colors-global-inverse-gray-50: #1f2123;
    --zds-colors-global-inverse-gray-50-rgb: 31,33,35;
    --zds-colors-global-inverse-gray-100: #222526;
    --zds-colors-global-inverse-gray-100-rgb: 34,37,38;
    --zds-colors-global-inverse-gray-150: #2f3234;
    --zds-colors-global-inverse-gray-150-rgb: 47,50,52;
    --zds-colors-global-inverse-gray-200: #414547;
    --zds-colors-global-inverse-gray-200-rgb: 65,69,71;
    --zds-colors-global-inverse-gray-300: #585c5e;
    --zds-colors-global-inverse-gray-300-rgb: 88,92,94;
    --zds-colors-global-inverse-gray-400: #717678;
    --zds-colors-global-inverse-gray-400-rgb: 113,118,120;
    --zds-colors-global-inverse-gray-500: #888e90;
    --zds-colors-global-inverse-gray-500-rgb: 136,142,144;
    --zds-colors-global-inverse-gray-600: #a3a9ac;
    --zds-colors-global-inverse-gray-600-rgb: 163,169,172;
    --zds-colors-global-inverse-gray-700: #c7cacc;
    --zds-colors-global-inverse-gray-700-rgb: 199,202,204;
    --zds-colors-global-inverse-gray-800: #d9dcde;
    --zds-colors-global-inverse-gray-800-rgb: 217,220,222;
    --zds-colors-global-inverse-gray-900: #f5f6f8;
    --zds-colors-global-inverse-gray-900-rgb: 245,246,248;
    --zds-colors-global-inverse-gray-950: #fafafb;
    --zds-colors-global-inverse-gray-950-rgb: 250,250,251;
    --zds-colors-global-inverse-pink-50: #4a1341;
    --zds-colors-global-inverse-pink-50-rgb: 74,19,65;
    --zds-colors-global-inverse-pink-100: #65215a;
    --zds-colors-global-inverse-pink-100-rgb: 101,33,90;
    --zds-colors-global-inverse-pink-150: #853078;
    --zds-colors-global-inverse-pink-150-rgb: 133,48,120;
    --zds-colors-global-inverse-pink-200: #af449d;
    --zds-colors-global-inverse-pink-200-rgb: 175,68,157;
    --zds-colors-global-inverse-pink-300: #d159bd;
    --zds-colors-global-inverse-pink-300-rgb: 209,89,189;
    --zds-colors-global-inverse-pink-400: #fa6ee3;
    --zds-colors-global-inverse-pink-400-rgb: 250,110,227;
    --zds-colors-global-inverse-pink-500: #f384e1;
    --zds-colors-global-inverse-pink-500-rgb: 243,132,225;
    --zds-colors-global-inverse-pink-600: #f3abe8;
    --zds-colors-global-inverse-pink-600-rgb: 243,171,232;
    --zds-colors-global-inverse-pink-700: #f3c8ec;
    --zds-colors-global-inverse-pink-700-rgb: 243,200,236;
    --zds-colors-global-inverse-pink-800: #f3dbef;
    --zds-colors-global-inverse-pink-800-rgb: 243,219,239;
    --zds-colors-global-inverse-pink-900: #f2e7f0;
    --zds-colors-global-inverse-pink-900-rgb: 242,231,240;
    --zds-colors-global-inverse-purple-50: #271f65;
    --zds-colors-global-inverse-purple-50-rgb: 39,31,101;
    --zds-colors-global-inverse-purple-100: #352a86;
    --zds-colors-global-inverse-purple-100-rgb: 53,42,134;
    --zds-colors-global-inverse-purple-150: #4436a8;
    --zds-colors-global-inverse-purple-150-rgb: 68,54,168;
    --zds-colors-global-inverse-purple-200: #5647c2;
    --zds-colors-global-inverse-purple-200-rgb: 86,71,194;
    --zds-colors-global-inverse-purple-300: #6759d2;
    --zds-colors-global-inverse-purple-300-rgb: 103,89,210;
    --zds-colors-global-inverse-purple-400: #8f82ff;
    --zds-colors-global-inverse-purple-400-rgb: 142,130,255;
    --zds-colors-global-inverse-purple-500: #a198f3;
    --zds-colors-global-inverse-purple-500-rgb: 161,152,243;
    --zds-colors-global-inverse-purple-600: #b8b2f3;
    --zds-colors-global-inverse-purple-600-rgb: 184,178,243;
    --zds-colors-global-inverse-purple-700: #cecaf3;
    --zds-colors-global-inverse-purple-700-rgb: 206,202,243;
    --zds-colors-global-inverse-purple-800: #dedcf3;
    --zds-colors-global-inverse-purple-800-rgb: 222,220,243;
    --zds-colors-global-inverse-purple-900: #eaeaf3;
    --zds-colors-global-inverse-purple-900-rgb: 234,234,243;
    --zds-colors-global-inverse-red-100: #edbfbe;
    --zds-colors-global-inverse-red-100-rgb: 237,191,190;
    --zds-colors-global-inverse-red-200: #e84747;
    --zds-colors-global-inverse-red-200-rgb: 232,71,71;
    --zds-colors-global-inverse-red-300: #b21e18;
    --zds-colors-global-inverse-red-300-rgb: 178,30,24;
    --zds-colors-global-inverse-red-400: #8f1511;
    --zds-colors-global-inverse-red-400-rgb: 143,21,17;
    --zds-colors-global-inverse-yellow-100: #edcca2;
    --zds-colors-global-inverse-yellow-100-rgb: 237,204,162;
    --zds-colors-global-inverse-yellow-200: #edb56d;
    --zds-colors-global-inverse-yellow-200-rgb: 237,181,109;
    --zds-colors-global-inverse-yellow-300: #ed9d38;
    --zds-colors-global-inverse-yellow-300-rgb: 237,157,56;
    --zds-colors-global-inverse-yellow-400: #e37b3a;
    --zds-colors-global-inverse-yellow-400-rgb: 227,123,58;
    --zds-colors-global-inverse-green-100: #71bb78;
    --zds-colors-global-inverse-green-100-rgb: 113,187,120;
    --zds-colors-global-inverse-green-200: #51aa5b;
    --zds-colors-global-inverse-green-200-rgb: 81,170,91;
    --zds-colors-global-inverse-green-300: #3e8246;
    --zds-colors-global-inverse-green-300-rgb: 62,130,70;
    --zds-colors-global-inverse-green-400: #326838;
    --zds-colors-global-inverse-green-400-rgb: 50,104,56;
    --zds-colors-global-inverse-brown-100: #ddbc9b;
    --zds-colors-global-inverse-brown-100-rgb: 221,188,155;
    --zds-colors-global-inverse-brown-200: #ca9867;
    --zds-colors-global-inverse-brown-200-rgb: 202,152,103;
    --zds-colors-global-inverse-brown-300: #ba7d46;
    --zds-colors-global-inverse-brown-300-rgb: 186,125,70;
    --zds-colors-global-inverse-brown-400: #7d4618;
    --zds-colors-global-inverse-brown-400-rgb: 125,70,24;
    --zds-colors-global-inverse-lavender-100: #ccadda;
    --zds-colors-global-inverse-lavender-100-rgb: 204,173,218;
    --zds-colors-global-inverse-lavender-200: #c398d7;
    --zds-colors-global-inverse-lavender-200-rgb: 195,152,215;
    --zds-colors-global-inverse-lavender-300: #b286d7;
    --zds-colors-global-inverse-lavender-300-rgb: 178,134,215;
    --zds-colors-global-inverse-lavender-400: #a174d7;
    --zds-colors-global-inverse-lavender-400-rgb: 161,116,215;
    --zds-colors-global-inverse-sky-blue-100: #a4c5eb;
    --zds-colors-global-inverse-sky-blue-100-rgb: 164,197,235;
    --zds-colors-global-inverse-sky-blue-200: #8db6e4;
    --zds-colors-global-inverse-sky-blue-200-rgb: 141,182,228;
    --zds-colors-global-inverse-sky-blue-300: #76a7de;
    --zds-colors-global-inverse-sky-blue-300-rgb: 118,167,222;
    --zds-colors-global-inverse-sky-blue-400: #5a91d0;
    --zds-colors-global-inverse-sky-blue-400-rgb: 90,145,208;
    --zds-colors-semantic-positive: #5ac366;
    --zds-colors-semantic-negative: #ff4d4d;
    --zds-colors-semantic-accent-link: #7463f2;
    --zds-colors-semantic-accent-red-200: #ff4d4d;
    --zds-colors-semantic-accent-red-300: #c31e18;
    --zds-colors-semantic-accent-brown-400: #8f4e18;
    --zds-colors-semantic-button-black: #000;
    --zds-colors-semantic-button-accent-zigzag-pink: #fa6ee3;
    --zds-colors-semantic-background-zigzag-beige: #f1ecea;
    --zds-colors-semantic-border-normal: #e8e9eb;
    --zds-colors-semantic-border-normal-active: #d2d5d6;
    --zds-colors-semantic-help-text-border-active: #b8bfc2;
    --zds-colors-semantic-disabled: #a1a9ad;
    --zds-colors-semantic-icon: #828a8f;
    --zds-colors-semantic-text-primary: #121314;
    --zds-colors-semantic-bg-base: #f5f6f8;
    --zds-colors-semantic-bg-surface: #fff;
    --zds-colors-semantic-bg-elevated: #fff;
    --zds-colors-semantic-divider: rgba(0,0,0,.05);
    --zds-colors-semantic-bg-overlay: rgba(0,0,0,.7);
    --zds-colors-semantic-icon-primary: #121314;
    --zds-components-checkbox-over-image-text-color: var(--zds-colors-global-static-white);
    --zds-components-checkbox-over-image-background-color: rgba(0,0,0,.1);
    --zds-components-checkbox-over-image-border-color: var(--zds-colors-global-static-white);
    --zds-components-checkbox-over-image-checked-background-color: #34383b;
    --zds-components-checkbox-over-image-disabled-border-color: hsla(0,0%,100%,.4);
    --zds-components-checkbox-over-image-disabled-background-color: rgba(0,0,0,.05);
    --zds-components-checkbox-over-image-border-width: 1px;
    --zds-components-checkbox-over-image-border-radius: 6px;
    --zds-components-checkbox-over-image-size: 20px;
    --zds-components-product-card-metadata-price-discount-percent-text-color: var(--zds-colors-global-pink-400);
    --zds-components-product-card-metadata-price-final-price-text-color: var(--zds-colors-global-gray-900);
    --zds-components-product-card-metadata-price-sold-out-text-color: var(--zds-colors-global-gray-900);
    --zds-components-product-card-metadata-title-brand-name-text-color: var(--zds-colors-global-gray-800);
    --zds-components-product-card-metadata-title-brand-name-disabled-text-color: var(--zds-colors-global-gray-400);
    --zds-components-product-card-metadata-title-brand-name-font-size-small: var(--zds-typography-font-size-12);
    --zds-components-product-card-metadata-title-brand-name-font-size-medium: var(--zds-typography-font-size-13);
    --zds-components-product-card-metadata-title-brand-name-font-size-large: var(--zds-typography-font-size-13);
    --zds-components-product-card-metadata-title-brand-name-font-weight-small: var(--zds-typography-font-weight-semibold);
    --zds-components-product-card-metadata-title-brand-name-font-weight-medium: var(--zds-typography-font-weight-semibold);
    --zds-components-product-card-metadata-title-brand-name-font-weight-large: var(--zds-typography-font-weight-semibold);
    --zds-components-product-card-metadata-title-brand-name-line-height-small: var(--zds-typography-line-height-14);
    --zds-components-product-card-metadata-title-brand-name-line-height-medium: var(--zds-typography-line-height-16);
    --zds-components-product-card-metadata-title-brand-name-line-height-large: var(--zds-typography-line-height-16);
    --zds-components-product-card-metadata-title-product-name-text-color: var(--zds-colors-global-gray-800);
    --zds-components-product-card-metadata-title-product-name-disabled-text-color: var(--zds-colors-global-gray-400);
    --zds-components-product-card-metadata-title-product-name-font-size-small: var(--zds-typography-font-size-12);
    --zds-components-product-card-metadata-title-product-name-font-size-medium: var(--zds-typography-font-size-13);
    --zds-components-product-card-metadata-title-product-name-font-size-large: var(--zds-typography-font-size-13);
    --zds-components-product-card-metadata-title-product-name-font-weight-small: var(--zds-typography-font-weight-regular);
    --zds-components-product-card-metadata-title-product-name-font-weight-medium: var(--zds-typography-font-weight-regular);
    --zds-components-product-card-metadata-title-product-name-font-weight-large: var(--zds-typography-font-weight-regular);
    --zds-components-product-card-metadata-title-product-name-line-height-small: var(--zds-typography-line-height-17);
    --zds-components-product-card-metadata-title-product-name-line-height-medium: var(--zds-typography-line-height-18);
    --zds-components-product-card-metadata-title-product-name-line-height-large: var(--zds-typography-line-height-18);
    --zds-components-product-card-thumbnail-radius: var(--zds-corner-radius-0);
    --zds-components-product-card-thumbnail-fallback-text-color: #fafafb;
    --zds-components-product-card-thumbnail-fallback-background-color: #f2f2f2;
    --zds-components-product-card-thumbnail-rank-text-color: var(--zds-colors-global-static-white);
    --zds-components-product-card-thumbnail-rank-background-color: #242729;
    --zds-components-product-card-thumbnail-rank-fluctuation-new-text-color: #fa6ee3;
    --zds-components-product-card-thumbnail-rank-fluctuation-up-text-color: #ff4d4d;
    --zds-components-product-card-thumbnail-rank-fluctuation-down-text-color: #a1a9ad;
    --zds-components-product-card-thumbnail-checkbox-margin-small: 8px;
    --zds-components-product-card-thumbnail-checkbox-margin-medium: 10px;
    --zds-components-product-card-thumbnail-checkbox-margin-large: 10px;
    --zds-components-product-card-thumbnail-checkbox-size-small: 18px;
    --zds-components-product-card-thumbnail-checkbox-size-medium: 22px;
    --zds-components-product-card-thumbnail-checkbox-size-large: 22px;
    --zds-components-product-card-thumbnail-nudge-max-width-small: calc(100% - 36px);
    --zds-components-product-card-thumbnail-nudge-max-width-medium: calc(100% - 44px);
    --zds-components-product-card-thumbnail-nudge-max-width-large: calc(100% - 44px);
    --zds-components-product-card-thumbnail-nudge-height-small: 21px;
    --zds-components-product-card-thumbnail-nudge-height-medium: 24px;
    --zds-components-product-card-thumbnail-nudge-height-large: 24px;
    --zds-components-product-card-thumbnail-emblem-margin-small: 0px;
    --zds-components-product-card-thumbnail-emblem-margin-medium: 0px;
    --zds-components-product-card-thumbnail-emblem-margin-large: 0px;
    --zds-components-product-card-thumbnail-emblem-max-width-small: calc(100% - 36px);
    --zds-components-product-card-thumbnail-emblem-max-width-medium: calc(100% - 42px);
    --zds-components-product-card-thumbnail-emblem-max-width-large: calc(100% - 42px);
    --zds-components-product-card-thumbnail-like-button-hit-area-size: 16px;
    --zds-components-product-card-thumbnail-like-button-size-small: 28px;
    --zds-components-product-card-thumbnail-like-button-size-medium: 32px;
    --zds-components-product-card-thumbnail-like-button-size-large: 32px;
    --zds-components-product-card-thumbnail-like-button-padding-small: 4px;
    --zds-components-product-card-thumbnail-like-button-padding-medium: 6px;
    --zds-components-product-card-thumbnail-like-button-padding-large: 6px;
    --zds-components-chip-button-container-icon-wrapper-gradient: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
}

button{
    background: none;
    border: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0
}

ul{
    list-style: none;
}

/* 세팅 */
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Pretendard JP', Pretendard, sans-serif;
    color: #242729;
    background: rgb(250, 246, 247);
}